.DS_Store
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
.env
.env.*
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
target
Cargo.lock
crates.hrl
priv/crates
/doc
benchmark/cozodb_benchmark/benchmark_reports/*
/benchmark/data
/benchmark/reports
