{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_cargo]}.

{cargo_opts, [
    {src_dir, "native/ecozodb"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.

{shell, [
    {apps, [ecozodb]}
]}.
