{minimum_otp_vsn, "R26.0.2"}.
{erl_opts, [debug_info]}.

{deps, [
    thoas,
    telemetry
]}.

{plugins, [
    rebar3_cargo,
    rebar3_hex
]}.

{profiles, [
    {prod, [
        {deps, [
            recon,
            observer_cli
        ]},
        {relx, [
            {release, {cozodb, "0.1.0"}, [
                %% Erlang
                sasl,
                crypto,
                inets,
                tools,
                runtime_tools,
                thoas,
                telemetry,
                cozodb
            ]},
            {extended_start_script, true},
            {mode, prod},
            {src_tests, true},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {overlay, [
                {mkdir, "./data"}
            ]}
        ]}
    ]},
    {doc, [
        {cargo_opts, [
            {src_dir, "native/cozodb"},
            {release, true}, %% optimises rust compilation
            {debug, false}
        ]}
    ]}
]}.

{cargo_opts, [
    {src_dir, "native/cozodb"},
    {release, true}, %% optimises rust compilation
    {debug, false}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}}
        %% ,{eunit, {cargo, test}}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [cozodb]}
]}.


{cover_enabled, true}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose]}.

{dialyzer, [{warnings, [no_return, no_match]}]}.

{project_plugins, [
    rebar3_proper,
    rebar3_ex_doc,
    rebar3_hex
]}.

{hex, [
  {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
  {name, "CozoDB"},
  {source_url, <<"https://github.com/leapsight/cozodb">>},
  {extras, [
    <<"README.md">>,
    <<"doc_extras/cheatsheet.md">>,
    <<"LICENSE">>
  ]},
  {main, <<"README.md">>},
  {extra_section, "Pages"},
  {api_reference, true},
  {groups_for_extras, #{
      <<"Introduction">> => [],
      <<"Tutorials">> => [],
      <<"How-to Guides">> => [],
      <<"Deployment">> => [],
      <<"Technical Reference">> => []
  }},
  {groups_for_modules, []}
]}.
