{minimum_otp_vsn, "R27"}.
{erl_opts, [
    debug_info,
    {feature, maybe_expr, enable}
]}.

{deps, [
    telemetry
]}.

{profiles, [
    {prod, [
        {deps, [
            recon,
            observer_cli
        ]},
        {relx, [
            {release, {cozodb, "0.2.6"}, [
                %% Erlang
                sasl,
                crypto,
                inets,
                tools,
                runtime_tools,
                telemetry,
                cozodb
            ]},
            {extended_start_script, true},
            {mode, prod},
            {src_tests, true},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {overlay, [
                {mkdir, "./data"}
            ]}
        ]}
    ]},
    {doc, [
        {cargo_opts, [
            {src_dir, "native/cozodb"},
            %% optimises rust compilation
            {release, true},
            {debug, false}
        ]}
    ]}
]}.

{cargo_opts, [
    {src_dir, "native/cozodb"},
    %% optimises rust compilation
    {release, true},
    {debug, false}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}}
        %% ,{eunit, {cargo, test}}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [cozodb]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose]}.

{dialyzer, [{warnings, [no_return, no_match]}]}.

{plugins, [
    rebar3_cargo,
    rebar3_hex
]}.

{project_plugins, [
    rebar3_proper,
    rebar3_ex_doc,
    rebar3_hex,
    erlfmt
]}.

{erlfmt, [write]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {name, "CozoDB"},
    {source_url, <<"https://github.com/leapsight/cozodb">>},
    {extras, [
        <<"README.md">>,
        <<"doc_extras/cheatsheet.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"README.md">>},
    {extra_section, "Pages"},
    {api_reference, true},
    %% {groups_for_extras, #{
    %%     <<"Introduction">> => [],
    %%     <<"Tutorials">> => [],
    %%     <<"How-to Guides">> => [],
    %%     <<"Deployment">> => [],
    %%     <<"Technical Reference">> => []
    %% }},
    {groups_for_modules, []}
]}.
